.main-title {
    margin: 0!important;
}

.player-wrapper {
    width: 700px;
    margin: 20px auto 0 auto;
}

.player-soundcloud {
    display: none;
}

.player-spotify {
    display: block;
}

@media (max-width: 700px) {
    .player-wrapper { width: 100% }
    .player-spotify {
        display: none;
    }
    .player-soundcloud {
        display: block;
    }
}

.cover-wrapper {
    margin: 25px;
}