<div class="container center-align">
  <div class="main-title">{{title}}</div>
  <!-- <div class="alt-title">Wise Monkey</div> -->
  <!-- <iframe class="text-center" style="border: 0; width: 100%; height: 400px;" src="https://bandcamp.com/EmbeddedPlayer/album=343228197/size=large/bgcol=7c1c1c/linkcol=ebb538/artwork=small/transparent=true/"
      seamless><a href="http://theplugs31.bandcamp.com/album/keep-the-peach">Keep The Peach by The Plugs</a></iframe> -->
  <!-- <div class="cover-wrapper">
    <img src="./assets/img/single.jpg" class="responsive-img z-depth-5" alt="">
  </div> -->


  <div class="row">
    <div class="col s12">
      <ul materialize="tabs" class="tabs">
        <li class="tab col s6">
          <a class="active" href="#spotify-tab">Spotify</a>
        </li>
        <li class="tab col s6">
          <a href="#soundcloud-tab">Soundcloud</a>
        </li>
      </ul>
      <div id="spotify-tab">
        <div class="player-wrapper player-spotify">
          <iframe src="https://open.spotify.com/embed?uri=spotify:album:7twB1NLIb33opVUH6Vzokb" width="640" height="450" frameborder="0"
            allowtransparency="true"></iframe>
        </div>      
      </div>
      <div id="soundcloud-tab">
        <div class="player-wrapper player-soundcloud">
          <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/362354470&amp;color=%23EBB538&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>