<div class="container center-align">
  <div class="main-title">Nouvel Album !</div>
  <div class="alt-title">Keep The Peach</div>
  <div class="player-wrapper">
    <iframe class="text-center" style="border: 0; width: 100%; height: 400px;" src="https://bandcamp.com/EmbeddedPlayer/album=343228197/size=large/bgcol=7c1c1c/linkcol=ebb538/artwork=small/transparent=true/"
      seamless><a href="http://theplugs31.bandcamp.com/album/keep-the-peach">Keep The Peach by The Plugs</a></iframe>
  </div>
</div>