<div class="app-wrapper">

  <app-header [sections]="sections"></app-header>

  <div class="row section-row" id="root-home">
    <div class="col s12">
      <section id="home" class="section">
        <app-home></app-home>
      </section>
    </div>
  </div>

  <div class="row section-row" *ngFor="let section of sections" [id]="'root-' + section.id">
    <div *ngIf="videos" class="col s12">
      <section materialize="scrollSpy" [id]="section.id" class="section scrollspy">
        <div [ngSwitch]="section.id">
          <div *ngSwitchCase="'album'">
            <app-album [title]="section.label"></app-album>
          </div>
          <div *ngSwitchCase="'videos'">
            <app-videos [videos]="videos" [title]="section.label"></app-videos>
          </div>
          <div *ngSwitchCase="'photos'">
            <app-photos [title]="section.label"></app-photos>
          </div>
          <div *ngSwitchCase="'news'">
            <app-news [title]="section.label"></app-news>
          </div>
          <div *ngSwitchCase="'contact'">
            <app-contact [title]="section.label"></app-contact>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>