<div class="container center-align">
  <div class="main-title">News</div>
  <div class="row">
    <div class="col-md-12">
      <div class="news-maxi">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPlugsband%2F&tabs=timeline&width=500&height=650&small_header=true&hide_cover=false&show_facepile=false&appId"
          width="500" height="650" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
      <div class="news-mini">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPlugsband%2F&tabs=timeline&width=340&height=650&small_header=true&hide_cover=false&show_facepile=false&appId"
          width="340" height="650" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>