@import '../../vars';

.tabs {
    background: transparent;
    margin-bottom: 25px;
    margin-top: -25px;
}

.tabs .tab a, 
.tabs .tab a:hover, 
.tabs .tab a.active {
    background-color: transparent;
    color: $text-color-alt;
    font-size: 24px;
    font-weight: 300;
}

.tabs /deep/ .indicator {
    background-color: $text-color-alt;
}
@media (max-width: 500px) {
    .news-maxi { display: none!important; }
    .news-mini { display: block!important; }
}

@media (min-width: 500px) {
    .news-maxi { display: block!important; }
    .news-mini { display: none!important; }
}