@import 'vars';

// body {
    // font-family: "Open Sans", sans-serif; 
    // font-weight: 300;
    // -webkit-text-size-adjust: 100%; 
    // background: $section-color-light;
// }

//////////////////////////////////////////////////////////////
// ROOTS
#root-home {
    // position: relative;
    // top: -65px;
    margin:0;
    padding:0;
    background: url(./assets/img/home.jpg) no-repeat center; 
    -webkit-background-size: cover;
    background-size: cover;
}

#root-videos {
    // height: 900px;
    margin:0;
    padding:0;
    background: url(./assets/img/videos.jpg) no-repeat center; 
    -webkit-background-size: cover;
    background-size: cover;
}

#root-news {
    margin:0;
    padding:0;
    background: url(./assets/img/news.jpg) no-repeat center; 
    -webkit-background-size: cover;
    background-size: cover;
}

#root-album,
#root-contact,
#root-photos,
 {
    margin:0;
    padding:0;
    background: url(./assets/img/pattern.png) no-repeat center; 
    -webkit-background-size: cover;
    background-size: cover;
}

//////////////////////////////////////////////////////////////
// SECTIONS 

.section {
padding: 20px 0px 40px 0px;
}

.section-row {
    margin: 0;
    border-bottom: $border;
}

.main-title {
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 10px;
    color: $text-color-main;
  }

.alt-title {
    font-size: 42px;
    color: $text-color-alt;
    font-weight: 400;
  }

  p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin: 40px;
  }

  @media (max-width: 500px) {
    .main-title { font-size: 42px!important; }
    .alt-title { font-size: 24px!important; }
    p { font-size: 15px!important; }
    .news-maxi { display: none!important; }
    .news-mini { display: block!important; }
}

