$header-back-color: #282828;
$header-fore-color: #ebb538;

$text-color-main: #FFF;
$text-color-alt: #ebb538;
$btn-color: #7c1c1c;
$border: 1px solid rgba(255, 255, 255, 0.2);

$nav-height: 64px;